@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.box
{
  margin: auto;
  text-align: center;
background-color: #1e40af;
padding-top: 85rem;
}

.box2
{
  margin: auto;
  text-align: center;
background-color:red;
}

/* NAVBAR */
.navbar {
  background: #111;
  color: white;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: #00bcd4;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* MAIN */
.main-content {
  padding: 0px 0px;
}

.page {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

/* MOBILE */
@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .menu.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

/* LARGE SCREENS */
@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }

  .logo {
    font-size: 24px;
  }

  .menu a {
    font-size: 18px;
  }
}